<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="TestEN">
  <parameter name="url" value="http://leaftaps.com/opentaps/"></parameter>
  <parameter name="language" value="en"> </parameter>
    <classes>
      <class name="testcases.RunLogin"/>
      <class name="testcases.CreateLead"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="TestFR">
  <parameter name="url" value="http://leaftaps.com/opentaps/"></parameter>
  <parameter name="language" value="fr"> </parameter>
    <classes>
      <class name="testcases.RunLogin"/>
      <class name="testcases.CreateLead"/>
    </classes>
  </test>
</suite> <!-- Suite -->
